
@{
    ViewBag.Title = "Giving";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="banner bg-banner-one overlay">
    <div class="container  text-center">
        <div class="row">
            <div class="col-lg-12">
                <!-- Content Block -->
                <div class="block text-center">

                    <h3 style="color:aliceblue"><span class="alternate">Giving;</span> a joyful - response to a <br />life changed by the gospel.</h3>
                </div>
            </div>
        </div>
    </div>
</section>
<div>
    <br /><br />
    <br />
    <br /><br />
    <br />
    <br /><br />
    <br />
    <div class="row">
        <div class="col-lg-12">

            <div class="block" style="text-align:center;">

                <h1><span class="alternate">Online Giving</span></h1>
                <h6>Simple and secure giving using wired transfers,yourdebit or creditcard.</h6>


                <br /><br />

                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <button style=" color:"><a href="https://paystack.com/pay/harvesters">PAY WITH CARD </a> </button>
                &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                <button style=" color: black;"><a href="https://paystack.com/pay/harvesters">LOCAL TRANSFER</a> </button>

            </div>
        </div>

        <br />
        <br /><br />
        <br />
        <br /><br />
        <br />
        <br /><br />
        <br />

    </div>

    <div style="text-align:center;background-color:slategrey;height:30%;">
        <br />
        <br /><br />
        <br /><br />
        <br /><br />
        <br />
        <div class="row">
            <div class="col-lg-12">

                <div class="block" style="text-align:center;">

                    <h1><span class="alternate">International Giving</span></h1>
                    <h6>Convenient ways to give using wired transfers, credit anddebitcards.</h6>


                    <br /><br />

                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <button style=" color:white; "><a href="https://flutterwave.com/pay/harvesters">PAY WITH CARD </a> </button>
                    &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;
                    <button style=" color: white; "><a href="https://flutterwave.com/pay/harvesters">LOCAL TRANSFER</a> </button>
                </div>
            </div>
        </div>
        <br />
        <br /><br />
        <br /><br />
        <br /><br />
        <br />
    </div>

